/*--- header & footer ---*/

div#gojHeader {
	background: #7e2b49;
}

div#gojFooter {
	background: #7e2b49;
}

/* Very center, main page title */
div.center_content_title {
    color: #d48020;
}

#yui-main {
    background: url(../images/feature-bg-tan.jpg) no-repeat right bottom;
}

/* Right column */
    div.right_column div.right_column_title {
        color: #7e2b49;        
    }
    
    div.right_column div.right_column_item a,
    div.right_column div.right_column_item a:link,
    div.right_column div.right_column_item a:visited {
        color: #b06d03;
        text-decoration: none;        
    }
    
    div.right_column div.right_column_item a:hover {
        color: #b06d03;
        text-decoration: underline;        
    }

/* Left column */
.yui-b div.left_column {    
    background: #f4f4f4 url(../images/sidenav_bg_grey.gif) repeat-x bottom;
}        
    
.yui-b .section_title {    
    background: url(../images/nav-heading-bg-tan.jpg) repeat-x;
    color: #cd6e03;
}

.yui-b li {
    color: orange;
}

    .yui-b li a,
    .yui-b li a:link,
    .yui-b li a:visited {        
        color: #000;
        text-decoration: none;
    }
    
    .yui-b li a:hover {
        color: #000;
        text-decoration: underline;
    }
    
/* News section */
div.news {
    background: url(../images/news-bg-blue.jpg) repeat-x top;
}

    div.news div.news_header {
        background: #336699;	    
        color: #fff;        
        background: url(../images/news-heading-bg-red.jpg) repeat-x top;
    }
    
    div.news div.news_item img {    
        border: solid #fff 1px;        
    }
    
    div.news div.news_item a,
    div.news div.news_item a:link,
    div.news div.news_item a:visited {
        color: #b06d03;
        text-decoration: none;        
    }
    
    div.news div.news_item a:hover {
        color: #b06d03;
        text-decoration: underline;        
    }
