/*--- header & footer ---*/

div#gojHeader {	
	background: #29857a;
}

div#gojFooter {
	background: #29857a;
}

/* Very center, main page title */
div.center_content_title {
    color: #006600;
}

#yui-main {
    background: url(../images/feature-bg-yellow.jpg) no-repeat right bottom;
}

/* Right column */

    div.right_column div.right_column_title {
        color: #000;        
    }
    
    div.right_column div.right_column_item a,
    div.right_column div.right_column_item a:link,
    div.right_column div.right_column_item a:visited {
        color: #996600;
        text-decoration: none;        
    }
    
    div.right_column div.right_column_item a:hover {
        color: #996600;
        text-decoration: underline;        
    }

/* Left column */
.yui-b div.left_column {   
    background: #8fe992 url(../images/sidenav_bg_green.gif) repeat-x bottom;
}         
    
.yui-b .section_title {    
    background: url(../images/nav-heading-bg-yellow.gif) repeat-x top;    
    color: #000;
}

.yui-b li {    
    color: yellow;
}

    .yui-b li a,
    .yui-b li a:link,
    .yui-b li a:visited {        
        color: #000;
        text-decoration: none;
    }
    
    .yui-b li a:hover {
        color: #000;
        text-decoration: underline;
    }
    
/* News section */
div.news {
    background: url(../images/news-bg-yellow.jpg) repeat-x top;
}

    div.news div.news_header {
        background: #336699;
        color: #fff;        
        background: url(../images/news-heading-bg-green.jpg) repeat-x top;
    }    
    
    div.news div.news_item img {     
        border: solid #fff 1px;        
    }
    
    div.news div.news_item a,
    div.news div.news_item a:link,
    div.news div.news_item a:visited {
        color: #996600;
        text-decoration: none;        
    }
    
    div.news div.news_item a:hover {
        color: #996600;
        text-decoration: underline;        
    }    
